<ul>
  <% @file_names.each do |file_name| %>
    <li>
      <div>
        <a href="/<%= file_name %>"><%= file_name %></a>
        <a href="/<%= file_name %>/edit">edit</a>
        <form action="/<%= file_name %>/delete" method="post" class="inline">
          <button type="submit">delete</button>
        </form>
      </div>
    </li>
  <% end %>
</ul>
<a href="/new">New Document</a>