<form action="/create" method="post">
  <label for="file_name">Add a new document:</label>
  <div>
  <textarea type="text" id="file_name" name="file_name" rows="1" cols="19"></textarea>
  <input type="submit" value="Create">
  </div>
</form>